<mat-card-header class="home-header">
  <mat-card-title class="card-title">Brouillon</mat-card-title>
</mat-card-header>
<div class="card-container">
  <ng-container *ngFor="let room of virtualDataRooms; let i = index">
    <div class="data-room-card">
      <div class="card-content">
        <mat-checkbox class="select-checkbox"></mat-checkbox>
        <div class="room-info">
          <div class="room-name">{{ room.name }}</div>
        </div>
        <div class="room-meta">
          <div class="created-date">Créé le {{ room.createdAt | date }}</div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="more-icon">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item >
              <button mat-menu-item    class="edit-menu-item" (click)="editVirtualDataRoom(room.id)">Modifier</button>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-menu-item class="delete-menu-item"  (click)="deleteVirtualDataRoom(room.id)">
              <mat-icon>delete</mat-icon>
              <span>Supprimer</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ng-container>
</div>
