<div class="main-content">
  <div class="container">
    <div class="search-container">
      <input type="text" class="search-input" [(ngModel)]="searchQuery" (input)="filterDataRooms()" placeholder="Rechercher...">
      <mat-icon class="search-icon">youtube_searched_for</mat-icon>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-container">
          <table class="table table-bordered table-striped">
            <thead class="table-header">
              <tr>
                <th>
                  <input type="checkbox" (change)="selectAll($event)">
                  Select All
                </th>
                <th>NAME</th>
                <th>OWNER</th>
                <th>VIEWS</th>
                <th>DATE</th>
                <th>ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dataRoom of virtualDataRooms; let i = index">
                <td>
                  <input type="checkbox" [(ngModel)]="dataRoom.selected">
                </td>
                <td>{{ dataRoom.name }}</td>
                <td>{{ dataRoom.owner }}</td>
                <td>{{ dataRoom.views }}</td>
                 <td>{{ dataRoom.createdAt | date }}</td> 
          <td></td>
                <td>
                  <div class="dropdown">
                    <button class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                      <span class="dropdown-item" (click)="goToCreateVirtualRoom()">
                        <i class="fas fa-plus"></i> Ajouter
                      </span>
                      <span class="dropdown-item" (click)="editDataRoom(dataRoom.id)">
                        <i class="fas fa-edit"></i> Modifier
                      </span>
                      <span class="dropdown-item" (click)="deleteDataRoom(dataRoom)">
                        <i class="fas fa-trash"></i> Supprimer
                      </span>
                      <span class="dropdown-item" (click)="navigateToVirtualDataRoom(dataRoom.id)">
                        <i class="fas fa-eye"></i> Voir DataRoom
                      </span>
                      <span class="dropdown-item" (click)="getDataRoomLink(dataRoom)">
                        <i class="fas fa-link"></i> Obtenir le lien
                      </span>
                      <span class="dropdown-item" (click)="manageAccess(dataRoom)">
                        <i class="fas fa-cogs"></i> Gérer l'accès
                      </span>
                    </div>
                    
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
