


<div class="top-buttons">
  <button class="btn btn-secondary" (click)="addPanel()">
    <i class="fas fa-plus-circle"></i> Add New Section
  </button>
  <button class="btn btn-secondary" (click)="downloadAllFiles()">
    <i class="fas fa-download"></i> 
  </button>
  <button class="btn btn-secondary">
    <i class="fas fa-comment"></i> 
  </button>
</div>





<div class="container">
  <mat-accordion>
    <ng-container *ngFor="let panel of panels()">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ panel.title }}
          </mat-panel-title>
          <mat-panel-description>
            <!-- Ajoutez ici une description si nécessaire -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-nz-demo-upload-basic></app-nz-demo-upload-basic>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>




  <div class="bottom-buttons">
    <button class="btn btn-primary" (click)="openAddGuestDialog()">
      <i class="fas fa-share"></i> 
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i> 
    </button>
    <button class="btn btn-secondary">
      <i class="fas fa-edit"></i> 
    </button>
  </div>
  </div>



 
