.card-container {
  margin-top: 8%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-contract-button {
  margin-bottom:20% ;
  margin-top: 4%;
  margin-left: 87%;
  background-color: #2979ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 42%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.data-room-card {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-icon {
  font-size: 50px;
  color: #2979ff;
}

.room-info {
  flex-grow: 1;
  margin-left: 20px;
}

.room-name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.created-date {
  font-size: 14px;
  color: #777;
}

.card-actions {
  display: flex;
  align-items: center;
}



.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-icon {
  width: 60px;
  height: 60px;
  background-color: #0078FF; /* Messenger blue color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: -135%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chatbot-icon mat-icon {
  color: white;
  font-size: 36px;
}

.chatbot-icon:hover {
  background-color: #005BB5; /* Darker blue on hover */
}


.small-dialog .mat-dialog-container {
  position: fixed !important; 
  top: 0 !important;
  margin-left: 100% !important;
  width: 900px !important;
  height: 700px !important;
}
