<div class="card-container">
  <button class="button" (click)=" goToCreateVirtualRoom()">+ Nouveau Contrat</button>
    <ng-container *ngFor="let room of virtualDataRooms; let i = index">
      <mat-card class="data-room-card">
        <div class="card-content">
          <mat-checkbox class="select-checkbox"></mat-checkbox>
          <div class="room-info">
            <div class="room-name" 
                            (click)="navigateToVirtualDataRoom(room.id)"
                            style="cursor: pointer;">
              {{ room.name }}
          </div>
            <div class="room-meta">
              <div class="created-date">Créé le {{ room.createdAt | date }}</div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class="more-icon">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>download</mat-icon>
                  <span>Télecharger</span>
                </button>
                <button mat-menu-item class="delete-menu-item"  (click)="deleteVirtualDataRoom(room.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </div>
          
            <!-- Additional content like image or description can be added here -->
          </div>
        </div>
        <mat-card-actions>
          <!-- Actions like buttons or menu items can be added here -->
        </mat-card-actions>
      </mat-card>
    </ng-container>
  
</div>

