<button class="new-contract-button" (click)="goToCreateVirtualRoom()">+ Nouveau Contrat</button>
<div class="card-container">

  <div class="cards-wrapper">
    <ng-container *ngFor="let room of virtualDataRooms; let i = index">
      <mat-card class="data-room-card">
        <div class="card-content">
          <div class="room-icon">
            <mat-icon>folder</mat-icon>
          </div>
          <div class="room-info">
            <div class="room-name" (click)="navigateToVirtualDataRoom(room.id)">
              {{ room.name }}
            </div>
            <div class="created-date">Créé le {{ room.createdAt | date:'MMM d, yyyy' }}</div>
          </div>
          <div class="card-actions">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="navigateToVirtualDataRoom(room.id)">
                <mat-icon>visibility</mat-icon> Voir
              </button>
              <button mat-menu-item (click)="deleteVirtualDataRoom(room.id)">
                <mat-icon>delete</mat-icon> Supprimer
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
