.chat-container {
    background-color: #f5f5f5;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ddd;
}

.chat-header {
    background-color: #1C6AE4;
    padding: 15px;
    color: white;
    border-radius: 12px 12px 0 0;
    text-align: left;
}

.chat-header h3 {
    margin: 0;
    font-size: 18px;
}

.chat-header p {
    font-size: 14px;
}

.chat-box {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    margin-bottom: 15px;
}

.bot-message {
    background-color: #e6f0ff;
    padding: 10px;
    border-radius: 12px;
    color: #333;
}

.bot-name {
    color:  #1C6AE4;
    font-weight: bold;
    font-size: 14px;
}

.user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.user-input input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.send-button {
    background-color: #1C6AE4;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-button svg {
    fill: white;
}

.send-button:hover {
    background-color: #0056b3;
}
