<mat-card>
  <mat-tab-group>
    <mat-tab label="First">
      <div class="m-16">
        <img class="d-block w-full" src="images/HadilP.jpg" alt="">
        <h3>First Price.
        </h3>
        <p>
          Exciting news, everyone! 🌟
          I am beyond thrilled to share that I am currently a dynamic web developer proudly part of Team Mailo, emerging victorious as champions of the prestigious Orange Summer Challenge 2023! 🏆👏
         
         A massive round of applause to Team MILO🥇 for securing the 1st  prize, respectively, in the fiercely competitive 13th edition of the Orange Summer Challenge. 🎉
         
         This win isn't just a victory; it's a testament to our relentless dedication and innovative spirit. Here's to turning this success into a launchpad for even more remarkable achievements and triumphs! 💫
         
         #OrangeSummerChallenge #Champions #TeamMailo  #InnovationNation 
         #Amazon
         EY 
          #VictoryVibes 🚀🎉  .</p>
      </div>
    </mat-tab>
    <mat-tab label="Second">
      <div class="m-16">
        <img class="d-block w-full" src="images/labinova.jpg" alt="">
        <h3>First Price.</h3>
        <p>
          Exciting news, everyone! 🌟
          I am beyond thrilled to share that I am currently a dynamic web developer proudly part of Team Mailo, emerging victorious as champions of the prestigious Orange Summer Challenge 2023! 🏆👏
         
         A massive round of applause to Team MILO🥇 for securing the 1st  prize, respectively, in the fiercely competitive 13th edition of the Orange Summer Challenge. 🎉
         
         This win isn't just a victory; it's a testament to our relentless dedication and innovative spirit. Here's to turning this success into a launchpad for even more remarkable achievements and triumphs! 💫
         
         #OrangeSummerChallenge #Champions #TeamMailo  #InnovationNation 
         #Amazon
         EY 
          #VictoryVibes 🚀🎉  .</p>
      

      </div>
    </mat-tab>
    <mat-tab label="Third">
      <div class="m-16">
        <img class="d-block w-full" src="images/pixabay/16.jpg" alt="">
        <h3>Maecenas eget turpis luctus, scelerisque arcu id, iaculis urna. Interdum et malesuada
          fames ac ante
          ipsum primis in faucibus.</h3>
        <p>
          Morbi placerat est nec pharetra placerat. Ut laoreet nunc accumsan orci aliquam accumsan.
          Maecenas
          volutpat dolor vitae sapien ultricies fringilla. Suspendisse vitae orci sed nibh ultrices
          tristique.
          Aenean in ante eget urna semper imperdiet. Pellentesque sagittis a nulla at scelerisque.
          Nam augue nulla,
          accumsan quis nisi a, facilisis eleifend nulla. Praesent aliquet odio non imperdiet
          fringilla.</p>
        <p>
          Morbi placerat est nec pharetra placerat. Ut laoreet nunc accumsan orci aliquam accumsan.
          Maecenas
          volutpat dolor vitae sapien ultricies fringilla. Suspendisse vitae orci sed nibh ultrices
          tristique.
          Aenean in ante eget urna semper imperdiet. Pellentesque sagittis a nulla at scelerisque.
          Nam augue nulla,
          accumsan quis nisi a, facilisis eleifend nulla. Praesent aliquet odio non imperdiet
          fringilla.</p>
        <p>
          Morbi placerat est nec pharetra placerat. Ut laoreet nunc accumsan orci aliquam accumsan.
          Maecenas
          volutpat dolor vitae sapien ultricies fringilla. Suspendisse vitae orci sed nibh ultrices
          tristique.
          Aenean in ante eget urna semper imperdiet. Pellentesque sagittis a nulla at scelerisque.
          Nam augue nulla,
          accumsan quis nisi a, facilisis eleifend nulla. Praesent aliquet odio non imperdiet
          fringilla.</p>

      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
